# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/*.csv
!logs/.gitkeep

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables & local configuration
.env
